<!-- /*
* File: school.component.html
* Author: Juhász Roland
* Copyright: 2023, Juhász Roland
* Group: Szoft II N
* Date: 2023-05-02
* Github: https://github.com/Roleeygit/ang_school
* Licenc: GNU GPL
*/ -->

<table class="table">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Group</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.group}}</td>

        </tr>
    </tbody>
</table>
